/* main{
    height:100%;
    width: 100%;
} */

#body{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 70px;
    /* justify-content: space-between; */
}
/* .boxsize{
    display:inline-flex;
    width:375px;
    height:350px;
    justify-content: center;
    flex-grow:1;
} */
.video_box{
    display: inline-grid;
    grid-template-rows: 2fr 1fr;
    margin-top:20px;
    margin:10px;
    /* width: 375px; */
    /* height: 305px; */

    background-color: white;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;

    /* flex-grow:1; */
    
}


.thumbnailBox{
    display: block;
    
    background-color: beige;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;
}

.titleBox{
    display: inline-grid;

    background-color: white;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2px;
    padding: 5px;

    align-items: center;

    /* grid 써서 그런듯
     */
}

.profile{
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    
}

#box1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(thumbnail/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#profile1{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url(profile/profile1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#box2{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(thumbnail/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#profile2{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url(profile/profile2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#box3{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(thumbnail/3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#profile3{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url(profile/profile3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#box4{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(thumbnail/4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#profile4{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url(profile/profile4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#box5{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(thumbnail/5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#profile5{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url(profile/profile5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#title{
    display: inline-flex;
    background-color: rgba(0,0,0,0);
    align-items: center;

    width: 100%;
    height: 100%;
    border-color:rgba(0,0,0,0);
    padding: 0px;
    font-size: 18px;
    text-align: left;

}

#videoOption{
    display: inline-flex;
    align-self: flex-start;
    justify-self: right;

    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-color: rgba(0,0,0,0);

    background-image: url(images/3dotMenu.png);
    background-color: rgba(0,0,0,0);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat; 

}

#channelName{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    padding: 0px;
    font-size: 16px;
}


#view{
    display: inline-flex;
    font-size:14px;

}
#uploadTime{
    display: inline-flex;
    font-size:14px;
}