body{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 80%;

}   

/* 결과 출력 창 */
article{

    width: 30%;
    height: 20%;
    background-color: black;
    border: 1px solid gray;
    border-radius: 20px;
    
    color: white;
    font-size:24px;
    text-align:center;
}

/* 입력 부분 */
#inputPart{
    display:inline-flex;
    flex-wrap:wrap;
    align-self: center;
    
    justify-content: space-evenly;

    margin-top:15%;

    width: 130px;
    height: 130px;
    background-color: rgba(0,0,0,0)
}
#userInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    width:100%;
    height:30%;
    margin-bottom: 10px;
}
.inputResult{
    border: 1px solid black;
    width:30%;
    height:100%;
    background-color: gray;
}
.input{
    width: 30%;
    height: 30%;
    /* border: 1px solid rgba(0,0,0,0); */
    border-radius: 50%;

    background-color: rgba(0,0,0,0);
    background-image: url(images/baseballicon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#throw{
    margin-top: 30px;

    align-self: center;
    width:100px;
    height:fit-content;
    background-color: gray;
}

/* 전광판  */
#scoreBoard{

    display: inline-flex;

    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0px;
    width: 250px;
    height: 250px;
    background-color: black;
}

#Point{
    display: flex;
    flex-direction: row;

    align-items: center;

    width:100%;
    height: 24%; 
    border: 1px dotted gray;
}

.resultBox{
    width: 30%;
    height: 100%;
    text-align: center;
    align-content: center;
    
    border: 1px dotted gray;
    color:white;
}

#scoreBox{
    width: 70%;
    display:flex;
    justify-content: space-around;
}

.score{
    color: white;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(107, 98, 98);

}

#startOption{
    
    display: flex;
    align-items: center;    
    justify-content: space-around;
    width: 100%;
    height: 24%;
    background-color: black;

}

.optionButton{
    height: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 25%;
}   

