/* #emptyhead{
    height:60px;
    background-color: red;
}

#empty{
    width: 60px;
    background-color: orange;
} */

/* #body{
    background-color: gray;
    display: inline-flex;  
    flex-wrap: wrap;

}

.video_box{
    display: inline-flex;

    margin: 5px;
    width: 400px;
    height: 305px;

    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
} */

main{
    height:100%;
    width: 100%;
}

#body{
    background-color: gray;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 80px;
    justify-content: space-around;
    flex-shrink: 1;
}

.video_box{
    display: inline-flex;

    margin: 5px;
    width: 400px;
    height: 305px;

    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
}