main{
    height:100%;
    width: 100%;
}

#body{
    background-color: gray;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 80px;
    justify-content: space-around;
    flex-shrink: 1;
}

.video_box{
    display: inline-grid;
    grid-template-rows: 2fr 1fr;
    margin-top:20px;

    width: 375px;
    height: 305px;

    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;


}


.thumbnailBox{
    background-color: beige;
    border: 1px solid darkgray;
    border-radius: 10px;
    display: block;
}
.titleBox{
    display: inline-grid;

    background-color: ivory;
    border: 1px solid darkgray;
    border-radius: 10px;
    
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2px;
    padding: 5px;

    align-items: center;
}

#profile{
    display: inline-flex;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#title{
    display: inline-flex;
    background-color: gray;
    width: 100%;
    height: 100%;
}

#videoOption{
    display: inline-flex;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    align-self: flex-start;
    justify-self: right;

}

#view{
    display: inline-flex;

}
#uploadTime{
    display: inline-flex;
}