main{
    height:100%;
    width: 100%;
}

#body{
    background-color: gray;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 80px;
    justify-content: space-evenly;
    flex-shrink: 1;
}

.video_box{
    display: block;
    margin-top:20px;

    width: 350px;
    height: 305px;

    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
}
.thumbnailBox{
    background-color: beige;
    border: 1px solid darkgray;
    border-radius: 10px;
    display: block;
    width:auto;
    height: 200px;

}
.titleBox{
    display: grid;
    background-color: ivory;
    border: 1px solid darkgray;
    grid-template-columns: 40px 300px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#profile{
    display: inline-flex;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    

}

#title{
    display: inline-flex;
    background-color: gray;
    width: 280px;
    height: 40px;
}

#view{
    display: inline-flex;

}
#uploadTime{
    display: inline-flex;
}