#logo{
    background-color: lightgray;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    position: fixed;
    justify-content: space-between;

}
#leftbox{
    display: inline-flex;

}
#rightbox{
    display: inline-flex;

}

#side{
    background-color: lightgray;
    height: 100%;
    border: 1px solid black;
    top: 100px;
    position: fixed;
}
