body{
    width: 400px;
}

article{
    width: 100%;
    height: fit-content;

}
.accountInfo{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    margin-top: 5px;
}
#accountOption{
    margin-top: 5px;
    width: 100%;
    display:flex;
    justify-content: space-between;
  
}

#linkContainor{
    margin-top: 5px;
    width: 100%;
}